- hosts: builder
  roles:
    - fetch-packages

- hosts: localhost
  roles:
    - role: add-fileserver
      fileserver: "{{ site_pulp }}"

- hosts: "{{ site_pulp.fqdn }}"
  vars:
    executor_package_dir: "{{ zuul.executor.work_root }}/packages"
  roles:
    - contrail-common-libs
    - packaging-publish-el

