CONTRAIL_REGISTRY="{{ contrail_docker_registry }}"
CONTRAIL_REGISTRY_INSECURE="{{ contrail_docker_registry_insecure }}"
CONTAINER_TAG="{{ contrail_version }}"
PUBLISH_TAG="{{ PUBLISH_TAG }}"
PUBLISH_REGISTRY="{{ dockerhub.namespace }}"
PUBLISH_REGISTRY_USER="{{ dockerhub.username }}"
PUBLISH_REGISTRY_PASSWORD="{{ dockerhub.password }}"
PUBLISH_CONTAINERS_LIST="{{ container_for_publishing }}"